@use '../../../assets/styles/utils.scss' as *;

.container {
  position: relative;
  padding: 10rem 0;

  @include breakpoint(mobile, md) {
    padding: 3rem 0;
  }

  >div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include breakpoint(mobile, lg) {
      grid-template-columns: 1.2fr 0.8fr;
    }

    @include breakpoint(mobile, md) {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    > p {
      width: min(450px, 100%);
    }

    .links {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
    }

    @include breakpoint(mobile, md) {
      align-items: center;
      text-align: center;
    }
  }

  figure {
    // position: relative;

    >div {
      position: absolute;
      top: 50%;
      translate: 0 -45%;

      &::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 29%;
        width: 50vw;
        height: 75%;
        background-color: var(--c-blue-400);
        border-radius: 50vh 0 0 50vh;
      }

      >img {
        position: relative;
        height: 100%;
        max-width: unset;
      }

      @include breakpoint(mobile, md) {
        position: relative;
        translate: 0;

        &::before {
          left: 20%;
          width: 100vw;
          height: 70%;
        }

        > img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}