@use '../../../assets/styles/utils.scss' as *;

.container {
  padding: 3rem 0 8rem;

  @include breakpoint(mobile, md) {
    padding: 3rem 0;
  }

  // global container
  >div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
}