@use '../../assets/styles/utils.scss' as *;

.container {
  width: 100%;
  background-color: var(--c-white);

  // global container
  >div {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1.5rem 0;
  }

  .main_logo {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;

    &.nav_links {
      flex-grow: 1;
      gap: 2rem;

    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      text-transform: uppercase;

      &:not([class]) {
        text-decoration: none;
        transition: all 0.2s ease;
  
        @include hover {
          color: var(--c-red-400);
        }
      }
    }
  }
}

.header {
  background-color: var(--c-white);

  .nav_links {
    justify-content: flex-end;

    a:not([class]) {
      color: var(--c-neutral-800);
    }
  }


}

.footer {
  background-color: var(--c-blue-700);

  .main_logo svg>g>path {
    fill: var(--c-white);
  }

  .nav_links {
    a:not([class]) {
      color: var(--c-neutral-100);
    }
  }

  .nav_socials {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      display: flex;
      align-items: center;

      >svg>path {
        transition: fill 0.2s ease;
      }

      @include hover {
        >svg>path {
          fill: var(--c-red-400);
        }
      }
    }
  }
}